* {
  font-family: sans-serif;
}

.top {
  height: 75px;
  background-color: #2D3E48;
  color: white;
  font-size: 18px;
  padding-top: 1px;
  padding-left: 25px;
  font-weight: 500;
}

b {
  background-color: #fff;
  color: #2D3E48;
  margin-left: 2.5px;
  border-radius: 5px;
}
